html {
  font-family: monospace;
  overflow-x: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.hitit {
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

#snare {
  font-size: 48px;
}

#snare:hover {
  cursor: pointer;
}
