html {
  font-family: monospace;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 48px;
}
